@import 'react-md/src/scss/react-md';

$md-light-theme: true; // optional for light theme
$md-primary-color: $md-deep-purple-600;
$md-secondary-color: $md-green-a-400;

@include react-md-everything;

.md-list--nested-1 .md-list-tile {
  padding: 16px;
}

img {
  max-width: 100%;
  height: auto;
}
.money {
  color: $md-green-a-400;
  font-weight: bold;
}
.sorting-column,
.sorting-column .material-icons,
.color--primary {
  color: $md-deep-purple-700;
  font-weight: bold;
}

a {
  color: $md-green-a-400;
  text-decoration: none;
  border-bottom: 2px solid;
}
.empty-table-message {
  padding: 1em 0;
}
